
# Python-specific
venv/
__pycache__/
*.pyc

# Created by "pyenv" (e.g. "pyenv local 3.8.6 3.7.9"). It's too specific.
.python-version

# Project-specific (sqlite, celery, redis, temporary files)


# Translations
*.mo

# Coverage && codecov
.coverage


# Not used yet, but moving Datadog & Slack API Keys there might be a good idea
# (put them inside into this file instead of hiding them in venv/bin/activate)
fabfile/.env

# Exclude all PyCharm files:
.idea/
.idea/workspace.xml
.idea/runConfigurations/

/hype/media/avatar
/hype/media/cache
/hype/media/posts



.env

fabfile.py