{% extends "user/detail_post.html" %}
{% load thumbnail %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
{% block person %}
            <div class="container container-boxed">
                <ul class="app-header-buttons visible-mobile">

                </ul>
                <ul class="app-header-buttons pull-right"><li>
                    <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                      <img src="{% static 'logo.png' %}" width="40" height="40" >
                        <div class="contact-container">
                            <a>{{request.user}}</a>
                        </div>
                        <div class="contact-controls">
                        </div>
                    </div>
                </li>
                </ul>
            </div>
{% endblock %}
{% block navigation %}
<div class="app-navigation-horizontal margin-bottom-15">
<!--     {% if user.is_authenticated %}-->
<!--                <div class="container container-boxed"><nav>-->

<!--                    <ul><li class="openable"><a href="{% url 'personal_page'%}">Профиль</a>-->
<!--                    </li>-->
<!--                        <li class="openable"><a href="{% url 'news' %}"> Мои новости </a>-->
<!--                        </li>-->
<!--                        <li class="openable"><a href="/accounts/logout/"> Выйти </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--                </div>-->
<!--            </div>-->
<!--              {% else %}-->
             <div class="container container-boxed"><nav>

                    <ul><li class="openable"><a href="/accounts/login">Войти</a>
                    </li>
                        <li class="openable"><a href="/"> Вернуться в ленту новостей </a>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
<!--     {% endif %}-->
{% endblock %}

{% block content %}
            <div class="container container-boxed">
                <div class="app-heading app-heading-bordered margin-top-0 margin-bottom-15">
                    <div class="title"><h1>
                    Категория: {{post.get_category_display}}</h1>
                    </div>
                </div>
                <div class="block padding-top-15 typography">
                    {% thumbnail post.img "600x600" crop="center" as img %}
                 <img src="{{MEDIA_URL}}{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}" >
                     {% endthumbnail %}
                    <h1>{{post.title}}</h1>
                    <p class="subheader">Date: {{post.public_time}} Author: {{post.author}}</p>
                    <p>{{post.text}}</p>
                    <div><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <a class="like-btn" href="{% url 'like' pk=post.pk %}" data-like="{{post.likes.all.count}}">{{post.likes.all.count}} Likes</a></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="listing margin-bottom-0">
                        <h5><a href="{% url 'comments' pk=post.pk %}">SHOW ALL COMMENTS</a></h5>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="block block-arrow-top"><div class="app-heading">
                    <div class="icon"><span class="icon-bubble-dots"></span></div>
                    <div class="title"><p>{% with total_comment.count as total_comments %}
                        <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
                        {% endwith %}</p>
                    </div>
                </div>
                    <div class="messages messages-comments">
                        {% for comment in comment %}
                        <div class="messages-item inbox">
                          <div class="user">
                              {% for person in person%}
                              {% if comment.name == person.login %}
                              {% thumbnail person.ava "45x45" crop="center" as im %}
                          <img src="{{MEDIA_URL}}{{ im.url }}"  width="{{ im.width }}" height="{{ im.height }}" >
                               <a href="{% url 'profile_page' pk=person.pk %}"></a>
                               {% endthumbnail %}
                              {% endif %}
                              {% endfor %}
                              <p>{{ comment.name }}</p>
                               </div>
                               <div class="date">
                                   <p>{{ comment.created }}</p>
                               </div>
                            <div class="text">
                              <h5>{{ comment.text|linebreaks }}</h5>
                            </div>
                             </div>
                              {% empty %}
                              <h4>There are no comments yet.</h4>
                             {% endfor %}


                <div class="block block-arrow-top">
                    <div class="app-heading title-only">

                        <div class="title"><h2>Оставить комментарий</h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <form method="post">
                           {% csrf_token %}
                           {{ form_comment.text|as_crispy_field  }}
                        <p><input type="submit" value="Add comment"></p>
                         </form>
                    </div>
                    </div>
                </div>
                 </div>
</div>
            </div>
           <!-- END PAGE CONTAINER -->
        </div><!-- END APP CONTENT -->

    </div>

{% endblock %}
</html>