{% extends 'user/detail_post.html'%}
{% load static %}
{% load thumbnail %}
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="app app-loaded"><!-- START APP CONTAINER -->
    <div class="app-container"><!-- START APP HEADER -->
        <div class="app-header">
            {% block person %}
            <div class="container container-boxed">
            <ul class="app-header-buttons visible-mobile">
            </ul>
            <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>
            <ul class="app-header-buttons pull-right"><li>
                <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                  {% thumbnail prof.ava "42x42" crop="center" as im %}
                    <img src="{{MEDIA_URL}}{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
                   {% endthumbnail %}
                    <div class="contact-container">
                            <a href="{% url 'personal_page' %}">{{request.user}}</a>
                        </div>
                    <div class="contact-controls">

                    </div>
                </div>
            </li>
            </ul>
        </div>
        </div>
        {% endblock %}

{% block content %}
        <!-- END APP HEADER  --><!-- START APP CONTENT -->
        <div class="app-content">
            <div class="app-navigation-horizontal margin-bottom-15">
            </div>
            <!-- START PAGE CONTAINER -->
            <div class="container container-boxed">
                <div class="block padding-top-20">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="text-uppercase text-bold text-lg heading-line-below margin-bottom-20">All posts</h4>
                            <div class="listing">
                                {% for post in post %}
                                <div class="listing-item margin-bottom-10">
                                    <div class="row"><div class="col-md-4">
                                        {% thumbnail post.img "500x500" crop="center" as img %}
                                  <img src="{{MEDIA_URL}}{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive">
                                    {% endthumbnail %}
                                    </div>
                                        <div class="col-md-8 padding-top-5">
                                            <a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
                                            <span class="label label-success label-bordered pull-right">{{post.get_category_display}}</span>
                                            <p>{{ post.text| truncatewords_html:20 }}</p>
                                            <div><span class="text-muted">{{post.public_time}}</span>
                                                <a href="{% url 'post_detail' pk=post.pk %}" class="pull-right">Read More...</a>
                                            </div>
                                            <div><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <a class="like-btn" href="{% url 'like' pk=post.pk %}"
                                        data-like="{{post.likes.all.count}}">{{post.likes.all.count}} Likes</a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                 {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- END PAGE CONTAINER -->

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>