{% extends 'user/detail_post.html' %}
{% load crispy_forms_tags %}
{% load thumbnail %}
<body>
{% block person %}
<div class="container container-boxed">
                <ul class="app-header-buttons visible-mobile">
                    <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span class="icon-menu"></span></a></li>
                </ul>
                <ul class="app-header-buttons pull-right"><li>
                    <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                         {% thumbnail person.ava "42x42" crop="center" as im %}
          <img src="{{MEDIA_URL}}{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
             {% endthumbnail %}
                        <div class="contact-container">
                            <a href="{% url 'personal_page' %}">{{request.user}}</a>
                        </div>
                        <div class="contact-controls">

                        </div>
                    </div>
                </li>
                </ul>
            </div>
{% endblock %}
{% block content %}
 <div class="block block-condensed padding-top-20">
  <div class="block-content">
   <form  method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <p> <button type="submit">Опубликовать</button></p>
   </form>
  </div>
 </div>
{% endblock %}
{% block footer %}
     {% endblock %}<!-- END AP
</body>
</html>