{% if posts.has_other_pages %}
<nav id="pagination" class="col align-self-center" aria-label="Page navigation example">
    <ul class="pagination">
    {% if posts.has_previous %}
        <a class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
    {% else %}
    <a class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true"></span></a>
    {% endif %}

    {% if posts.has_next %}
        <a class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next></a></li>
    {% else %}
    <a class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true"></span></a>
    {% endif %}
    </ul>
</nav>
{% endif %}