{% extends "user/news.html" %}
{% load static %}
{% load thumbnail %}
<html lang="en">
<head>

</head>
<body>
{% block content %}
      {% for post in post %}
            <div class="post">
             {% thumbnail post.img "500x500" crop="center" as img %}
            <img src="{{MEDIA_URL}}{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}" >
             {% endthumbnail %}
            <h2>{{post.title}}</h2>
            <p>{{post.text}}</p>
            {% if prof != post.author %}
            <h4> <a href="{% url 'profile_page' pk=post.author.pk %}">{{post.author}}</a></h4>
            {% else %}
               <h4>my post</h4>
            {% endif %}
            <p>{{post.public_time}}</p>
            <p>{{post.get_category_display}}</p>
               <div><a class="like-btn" href="{% url 'like' pk=post.pk %}"
                       data-like="{{post.likes.all.count}}">{{post.likes.all.count}} Likes </a></div>
             <h4><a class="detail_btn" href="{% url 'post_detail' pk=post.pk %}">Detail</a></h4>
            </div>
{% endfor %}
{% endblock %}
</body>
</html>