{% load rest_framework %}
{% load static %}
{% load thumbnail %}
<html lang="en">
 <html lang="en"><head>
    <title>Post</title>
 <link rel="stylesheet" href="{% static 'css/main.css'%}" >
 <script src="{% static 'js/script.js' %}"></script>

 </head>
<body>
<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Hype social</h3>
            </div>

            <ul class="list-unstyled components">

                <li class="active">
                    {% if user.is_authenticated %}
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ user.get_username }}</a>
                    <ul class="collapse list-unstyled" >

                        <li>
                            <a href="/personal_page/">Profile</a>
                        </li>
                        <li>
                            <a href="/">News</a>
                        </li>
                        <li>
                            <a href="{% url 'create_post' %}">Create new post</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/accounts/logout/">Log out</a></li>

            </ul>
  <!-- if not authentificated -->
            {% else %}
             <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ user.get_username }}</a>
                    <ul class="collapse list-unstyled" >

                <li>
                    <a href="/accounts/login">LogIn</a>
                </li>
              {% endif %}
                    </ul>
        </nav>

        <!-- Page Posts  -->

        <div id="content">
         {% block content %}
            {% for post in posts %}
             {% thumbnail post.img "500x500" crop="center" as img %}
            <img src="{{MEDIA_URL}}{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}" >
             {% endthumbnail %}
            <h2>{{post.title}}</h2>
            <p>{{post.text}}</p>
            {% if prof != post.author %}
            <h4> <a href="{% url 'profile_page' pk=post.author.pk %}">{{post.author}}</a></h4>
            {% else %}
               <h4>my post</h4>
            {% endif %}
            <p>{{post.public_time}}</p>
            <p>{{post.get_category_display}}</p>
             <h4><a href="{% url 'post_detail' pk=post.pk %}">Detail</a></h4>
            <div class="line"></div>
            {% endfor %}
            <p>{% include 'user/paginator.html' %}</p>
</div>
</div>

          {% endblock %}

</body></html>