
{% extends "user/news.html" %}
{% load rest_framework %}
{% load static %}
{% load thumbnail %}
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'css/main.css'%}" >
</head>
<body>
{% block content %}
    {% for person in person %}
         <div class="people">
             {% thumbnail person.ava "100x100" crop="center" as img %}
            <img src="{{MEDIA_URL}}{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}" >
             {% endthumbnail %}
               <h2>{{person.login}}</h2>

            <h5>{{person.name}}</h5>
             <h5> {{person.last_name}}</h5>
             <h4><a href="{% url 'profile_page' pk=person.pk %}">See profile</a></h4>
              </div>
       {% endfor %}
            <div class="pagination">
<span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previos</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">NEXT</a>
    {% endif %}
                {% endblock %}
</div>
</body>
</html>