{% extends "user/news.html" %}
{% load thumbnail %}
{% load crispy_forms_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>

{% block content %}
<body>
{% if post %}
<h2>{{post.title}}</h2>
{% thumbnail post.img "500x500" crop="center" as img %}
<img src="{{MEDIA_URL}}{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}" >
{% endthumbnail %}
<h4>{{post.text}}</h4>
<p>{{post.get_category_display}}</p>
   {{post.author}}
   {{post.public_time}}
</P>
{% if post.author == author %}
<h5><a href="{% url 'delete' pk=post.pk %}">DELETE </a></h5>
<h5><a href="{% url 'new_posT' pk=post.pk %}">UPDATE</a></h5>
<h5><a href="{% url 'comments' pk=post.pk %}">SHOW ALL</a></h5>
{% endif %}
{% endif %}
{% with total_comment.count as total_comments %}
    <h3>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h3>
{% endwith %}
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        <h5>{{ comment.text|linebreaks }}</h5>
    </div>
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}
{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form method="post">
        {% csrf_token %}

        {{ form_comments.text|as_crispy_field  }}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endif %}

{% endblock %}
</body>
</html>
