{% extends "user/posts.html" %}
{% load rest_framework %}
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Profile</title>
       <link rel="stylesheet" href="{% static 'css/profile.css'%}" >
  </head><body>
<h1>Profiles</h1>
{% block content %}
   {% if user.is_authenticated %}
       {% for profile in profiles %}

    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="mb-2">
          <img src="{{MEDIA_URL}}{{ profile.ava.url }}" width='320' height='320'>
        </div>
        <div class="mb-2 d-flex">
          <h1 class="font-weight-normal">{{profile.name}}</h1>
          <div class="social d-flex ml-auto">
            <p class="pr-2 font-weight-normal">Personal data:</p>
            <a href="#" class="text-muted mr-1">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="text-muted mr-1">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="text-muted mr-1">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="text-muted">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="mb-2">
          <ul class="list-unstyled">
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Name:</span>
              <label class="media-body">{{profile.name}}</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Lastname:</span>
              <label class="media-body">{{profile.last_name}}</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Date of birth:</span>
              <label class="media-body">{{profile.date_birth}}</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Email: </span>
              <label class="media-body">{{profile.email}}</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 pl-xl-3">
        <h2 class="font-weight-normal">Biography</h2>
        <p>{{profile.bio}}</p>
        <ul class="col-lg-3 col-md-5 pl-xl-1"><h2>My Posts</h2>
            {% for pos in post %}
            <h3>{{ pos.title}}</h3>
             <p>{{pos.text}}</p>
             <img src="{{MEDIA_URL}}{{ profile.ava.url }}" width='30' height='30'>
             {{pos.public_time}}
             {{pos.category}}
             {{pos.author}}</p>
            {% endfor %}
            {% include "user/paginator.html" with page=page_obj %}
        </ul>
      </div>
      {% endfor %}
{% endif %}
    {% endblock %}
    </div>
  </body>
</html>