{% extends "user/posts.html" %}
{% load rest_framework %}
{% load static %}
{% load thumbnail %}
<html lang="en">
  <link rel="stylesheet" href="{% static 'css/main.css'%}" >
 <script src="{% static 'js/script.js' %}"></script>

 </head>
<body>

<h1>Profile Page</h1>
{% block content %}
   {% if user.is_authenticated %}
    {% for object in object%}
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="mb-2">
            {% thumbnail object.ava "400x400" crop="center" as im %}
          <img src="{{MEDIA_URL}}{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
             {% endthumbnail %}
        </div>
        <div class="mb-2 d-flex">
          <h1 class="font-weight-normal">{{object.name}}</h1>
          <div class="social d-flex ml-auto">
            <p class="pr-2 font-weight-normal">Personal data:</p>
            <a href="#" class="text-muted mr-1">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="text-muted mr-1">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="text-muted mr-1">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="text-muted">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="mb-2">
          <ul class="list-unstyled">
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Name:</span>
              <label class="media-body">{{object.name}}</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Lastname:</span>
              <label class="media-body">{{object.last_name}}</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Date of birth:</span>
              <label class="media-body">{{object.date_birth}}</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Email: </span>
              <label class="media-body">{{object.email}}</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 pl-xl-3">
        <h2 class="font-weight-normal">Biography</h2>
        <p>{{object.bio}}</p>
        <ul class="col-lg-3 col-md-5 pl-xl-1"><h2>Posts</h2>
            {% for pos in post %}
            {% thumbnail pos.img "200x200" crop="center" as img %}
            <img src="{{MEDIA_URL}}{{ img.url }}" width="{{ im.width }}" height="{{ im.height }}" >
             {% endthumbnail %}
            <h3>{{ pos.title}}</h3>
             <p>{{pos.text}}</p>
             <img src="{{MEDIA_URL}}{{ object.ava.url }}" width='30' height='30'>
             {{pos.public_time}}
             {{pos.category}}
             {{pos.author}}</p>
             <h4><a href="{% url 'post_detail' pk=pos.pk %}">Detail</a></h4>
              {% endfor %}
            {% include "user/paginator.html" with page=page_obj %}

        </ul>
      </div>
        {% endfor %}
{% endif %}
    {% endblock %}
    </div>
  </body>
</html>