{% extends "user/posts.html" %}
{% load rest_framework %}
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Profile</title>
  </head><body>
<h1>Profiles</h1>
{% block content%}
{% if user.is_authenticated %}
       {% for profile in profiles %}
      <H2>{{profile.login}}</H2>
      <p>NAME:{{profile.name}}</p>
      <p>BIO:{{profile.bio}}</p>
      <p>BIRTHDAY:{{profile.date_birth}}</p>
        {% endfor %}
   {% endif %}
  </ul>
{% endblock %}
    </div>
</body></html>
